# --- General ---
*.log
*.tmp
*.temp
*.swp
.DS_Store

# --- Archives ---
*.zip
*.rar
*.7z
*.tar
*.gz

# --- Env ---
.env

# --- Gradle ---
.gradle/
build/
**/build/

# --- Kotlin ---
.kotlin/

# --- Android Studio ---
.idea/
*.iml

# --- Local config ---
local.properties

# --- NDK / C++ ---
.externalNativeBuild/
.cxx/

# --- Captures ---
captures/

# --- Crash / debug ---
*.txt

# --- AVD / Emulator ---
*.avd
*.keystore

# --- OS ---
Thumbs.db

# --- Misc ---
.config/

