# App
NODE_ENV=development

# Configuración basica
APP_NAME=friendlyPOS

PGUSER=friendly_user
PGPASSWORD=
PGDATABASE=friendlydb

# Supabase Configuration
SUPABASE_URL=https://wqpcwzzglwvmxiuqoswr.supabase.co

# Public / anon (publishable)
SUPABASE_ANON_KEY=

# Public / anon (JWT token)
VITE_SUPABASE_ANON_KEY=

# Service role (SECRET – acceso total) - NO USAR EN FRONTEND - Solo para migraciones
SUPABASE_SERVICE_KEY=
SUPABASE_PROJECT_REF=
SUPABASE_DB_PASSWORD=

# Supabase Database Connection Parameters (Connection Pooler - Session mode)
SUPABASE_HOST=localhost
SUPABASE_PORT=55000
SUPABASE_DATABASE=friendlydb
SUPABASE_USER=friendly_user
SUPABASE_PASSWORD=
SUPABASE_PROJECT_REF=

# Alternative Supabase connection format (using project ID)
SUPABASE_DIRECT_USER=friendly_user
SUPABASE_DIRECT_PASS=pos_friendly100

SUPABASE_POOLER=

# Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN="friendlypos-a53bd.firebaseapp.com"
FIREBASE_PROJECT_ID="friendlypos-a53bd"
FIREBASE_STORAGE_BUCKET="friendlypos-a53bd.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID="334683245370"
FIREBASE_APP_ID="1:334683245370:web:9fc4c82859fb48168e5e03"
FIREBASE_MEASUREMENT_ID="G-X9BSZZBFX4"
FIREBASE_BUCKET_ID="friendlypos-a53bd.firebasestorage.app"
FIREBASE_CLIENT_ID="114143028378137164933"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-fbsvc@friendlypos-a53bd.iam.gserviceaccount.com"
FIREBASE_KEY_ID="7242cd1f12abeeaea3a98164d9503fa099f6f06a"

# Typesense
TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_API_KEY=

# Ej: '../dashboard'
BASE_PATH='..'


